@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: fixed;
  max-width: 80%;
  z-index: 2;
}

.modal {
  background-color: $Black;
  border: 1px solid $Orange;
  border-radius: 0.5rem;
  padding: .2rem;
  z-index: 3;
}
