@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format("TrueType");
  font-weight: 700;
  font-style: normal;
}
.workout-plans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  min-height: 60vh;
}
.workout-plans-container .no-workouts {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  color: #FCA311;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .no-workouts {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}
.workout-plans-container .workout-plans__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}
.workout-plans-container .workout-plans-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 14rem;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list {
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
  }
}
@media screen and (min-width: 80rem) {
  .workout-plans-container .workout-plans-list {
    width: 65%;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: #E5E5E5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1.25rem;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
  overflow: hidden;
}
.workout-plans-container .workout-plans-list .workout-plans-item:hover {
  background-color: #d78703;
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #d78703;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-name {
    margin-bottom: 0;
    margin-right: 2rem;
    width: 40%;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-goal {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: #4b4b4b;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-goal {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-goal {
    margin-right: 2rem;
    width: 20%;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-goal span {
  text-decoration: underline;
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-date {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-date {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    margin-right: 2rem;
    width: 20%;
  }
}
@media screen and (min-width: 48rem) and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-date {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-date span {
  text-decoration: underline;
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-progress {
  margin-top: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-progress {
    margin-top: 0;
  }
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-progress .CircularProgressbar {
  width: 3rem;
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-progress .CircularProgressbar .CircularProgressbar-path {
  stroke: #d78703;
}
.workout-plans-container .workout-plans-list .workout-plans-item .workout-info .workout-progress .CircularProgressbar .CircularProgressbar-text {
  fill: #14213d;
  font-weight: bold;
  font-size: 1.5rem;
  text-anchor: middle;
  alignment-baseline: middle;
}/*# sourceMappingURL=WorkoutPlans.css.map */