// ExerciseSelection.scss

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $LightBlack;
  margin: auto;

  h2 {
    @include subHeaderText;
    margin-bottom: 2rem;
    color: $Orange;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    display: flex;
    flex-direction: column;
    @include labelButtonsText;
    margin-bottom: 1.5rem;
    color: $Silver;
    width: 100%;

    @include tablet {
      align-items: flex-start;
    }
  }

  input,
  select {
    background-color: $Mercury;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    @include bodyMediumText;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $Orange;
    }

    @include tablet {
      width: 100%;
      height: 2.5rem;
    }
  }

  button {
    margin-top: 1.5rem;
  }
}
