$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$LightBlack: #33312e;
$Navy: #14213d;
$Silver: #E5E5E5;
$White: #FFFFFF;
$Black: #000000;
$Orange: #FCA311;
$DarkOrange: #d78703;
$Mercury: #E1E1E1;
$Purple: #94b2eb