@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format("TrueType");
  font-weight: 700;
  font-style: normal;
}
.new-plan-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.new-plan-form__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #FCA311;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}
.new-plan-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__form {
    padding: 2.5rem;
  }
}
.new-plan-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 80rem) {
  .new-plan-form__field {
    width: 80%;
  }
}
.new-plan-form__label {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #E5E5E5;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__label {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
}
@media screen and (min-width: 48rem) {
  .new-plan-form__label {
    align-items: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .new-plan-form__label {
    margin-right: 2rem;
  }
}
.new-plan-form__input, .new-plan-form__select {
  background-color: #E1E1E1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__input, .new-plan-form__select {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.new-plan-form__input:focus, .new-plan-form__select:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FCA311;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__input, .new-plan-form__select {
    height: 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .new-plan-form__input, .new-plan-form__select {
    padding: 0.7rem;
  }
}
.new-plan-form__submit-button {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  align-self: center;
  width: 100%;
  padding: 0.8rem 1.5rem;
  margin: 2rem 0;
  text-transform: uppercase;
  color: #14213d;
  background-color: #94b2eb;
  border: none;
  border-radius: 1.5625rem;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 48rem) {
  .new-plan-form__submit-button {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
.new-plan-form__submit-button:active {
  background-color: #33ac76;
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.new-plan-form__submit-button:hover {
  background-color: #3e8e41;
  color: #E5E5E5;
  transform: translateY(3px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 48rem) {
  .new-plan-form__submit-button {
    padding: 1.5rem 2.5rem;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.last-sentence {
  color: #FFFFFF;
  text-align: center;
  align-self: center;
}/*# sourceMappingURL=NewPlanForm.css.map */