@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("OpenType"), url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format("TrueType");
  font-weight: 700;
  font-style: normal;
}
.workout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workout__top {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .workout__top {
    height: 14.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top {
    height: 18.75rem;
  }
}
.workout__top__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/workoutPlanPage.jpeg");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .workout__top__image {
    padding: 1rem 2.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top__image {
    padding: 1rem 6rem;
  }
}
.workout__top__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(75, 75, 75, 0.7);
}
@media screen and (min-width: 48rem) {
  .workout__top__content {
    padding: 1rem 2.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top__content {
    justify-content: space-evenly;
  }
}
.workout__top__content__top {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 80rem) {
  .workout__top__content__top {
    width: 66%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
.workout__top__content__top__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__top__title {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top__content__top__title {
    width: 50%;
    justify-content: start;
    padding-top: 0;
  }
}
.workout__top__content__top__title__text {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  color: #FCA311;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__top__title__text {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}
.workout__top__content__top__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 0;
  width: 100%;
}
@media screen and (min-width: 80rem) {
  .workout__top__content__top__progress {
    width: 50%;
    margin: 0;
    padding: 0 2rem;
  }
}
.workout__top__content__top__progress-title {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #E5E5E5;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__top__progress-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .workout__top__content__top__progress-title {
    margin: 0;
    display: none;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top__content__top__progress-title {
    display: flex;
  }
}
.workout__top__content__top__progress-bar {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__top__progress-bar {
    height: 1.5rem;
  }
}
.workout__top__content__top__progress-bar::-webkit-progress-bar {
  background-color: #E5E5E5;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-webkit-progress-value {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-moz-progress-bar {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-ms-fill {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-ms-fill-upper {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-ms-fill-lower {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-bar::-ms-fill-progress {
  background-color: #FCA311;
  border-radius: 0.5rem;
}
.workout__top__content__top__progress-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #FCA311;
}
.workout__top__content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__text {
    margin-top: 0;
    align-items: flex-end;
    justify-content: center;
  }
}
@media screen and (min-width: 80rem) {
  .workout__top__content__text {
    width: 33%;
  }
}
.workout__top__content__text__goal {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #E5E5E5;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__text__goal {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
}
.workout__top__content__text__weight {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #E5E5E5;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .workout__top__content__text__weight {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
}
.workout__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #14213d;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .workout__bottom {
    padding: 1rem 2.5rem;
    align-items: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .workout__bottom {
    padding: 1rem 6rem;
  }
}

.dayExercises__title {
  color: #FCA311;
  text-transform: capitalize;
}

.list ul:nth-child(odd) {
  background-color: #E1E1E1;
}
.list ul:nth-child(even) {
  background-color: #FFFFFF;
}
.list ul:nth-child(odd) > li + li {
  border-top: solid 1px #E1E1E1;
}
.list ul:nth-child(even) > li + li {
  border-top: solid 1px #FFFFFF;
}
.list ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0.5em 1em;
}
.list ul:first-child {
  display: none;
}
.list ul > li {
  display: block;
  padding: 0.25em 0;
}
.list ul > li:before {
  color: #4b4b4b;
  content: attr(data-label);
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: top;
  width: 40%;
}
.list p {
  margin: -1em 0 0 50%;
}
@media screen and (min-width: 48rem) {
  .list {
    display: table;
    margin: 1em 0;
  }
  .list ul {
    display: table-row;
  }
  .list ul:first-child {
    display: table-row;
  }
  .list ul:first-child li {
    background-color: #4b4b4b;
    color: #FFFFFF;
    border-top: 0.0625rem solid #E5E5E5;
  }
  .list ul > li {
    display: table-cell;
    padding: 0.5em 1em;
  }
  .list ul > li:before {
    display: none;
  }
  .list ul:first-child li:first-child {
    border-left: 0.0625rem solid #E5E5E5;
  }
  .list ul:first-child li:last-child {
    border-right: 0.0625rem solid #E5E5E5;
  }
}

.exercise__name {
  font-weight: bold;
  cursor: pointer;
}

/* tiny *//*# sourceMappingURL=WorkoutDetails.css.map */